@import '../root.scss';

.detail-pages {
    .ability-container {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        padding: 20px;
        border-radius: 20px;
        background-color: white;
        color: black;
        .sub-title {
            color: black;
            font-size: $s30;
            margin-bottom: 10px;
            text-align: center;
        }
        .ability-contents {
            display: flex;
            flex-flow: row wrap;
            flex-direction: column;
            margin-top: 10px ;
            .ability-content {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 20px;
                .ability-title-skill {
                    font-size: $s20;
                }
                .ability-desc-skill {
                    font-size: $s15;
                    color: grey;
                }
            }
        }
    }
}