@import '../styles/root.scss';

.detail-pages {
    background: $background-linear;
    .detail-pokemon {
        display: flex;
        flex-direction: column;
        .head-detail {
            display: flex;
            align-items: flex-end;
            gap: 30px;
            color: white;
            img {
                width: 300px;
            }
            .desc-head-detail {
                display: flex;
                flex-direction: column;
                .desc-detail {
                    display: flex;
                    gap:20px;
                }
            }
        }
    }

    .ability-container {
        .sub-title {
            color: white;
            font-size: $s30;
            margin-bottom: 20px;
        }
        .ability-contents {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .ability-content {
                display: flex;
                flex-direction: column;
                width: 30%;
                .ability-title-skill {
                    color: white;
                    font-size: $s20;
                }
                .ability-desc-skill {
                    color: white;
                    font-size: $s15;
                }
            }
        }
    }
}