@import '../styles/root.scss';

.Home {
  background: url('../assets/img/pokeball-bg.jpeg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 80%;
  .background-mobile {
    display: none;
  }
  .home-content {
    max-width: 50%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    text-shadow: 5px 5px 10px black;
    color: whitesmoke;
    .title-home {
      font-size: $s50;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 1px;
    }
    .desc-home {
      font-size: $s15;
      font-weight: 100;
      margin-top: 10px;
      letter-spacing: 2px;
    }
  }
  .pokedex-btn{
    @extend %primary-btn;
    margin-top: 50px;
  }
  .pokedex-btn:hover {
    transition: 0.5s;
    color: whitesmoke;
    background-color: $hover-main-color;
    box-shadow: 1px 1px 15px $hover-main-color;
  }
}

@media only screen and (max-width: 600px) {
  .Home {
    background: none;
    text-align: center;
    .background-mobile {
      display: block;
      width: 100%;
      margin: auto;
      padding: 20px 20px 0 20px;
    }
    .home-content {
        max-width: 100%;
        margin-top: 10px;
        align-items: center;
        padding: 0 20px;
        .title-home {
          font-size: $s30;
        }
      }
    }
  }

