@import './root.scss';

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  letter-spacing: 1px;
  font-size: $s15;
  font-weight: 600;
  .link-navbar {
    color: white;
  }
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 50px;
  .link {
    color: $main-color;
    border: 1px solid $main-color;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .link-active {
    transition: 0.5s;
    color: whitesmoke;
    background-color: $hover-main-color;
    box-shadow: 1px 1px 15px $hover-main-color;
  }
  .link:hover {
    transition: 0.5s;
    color: whitesmoke;
    background-color: $hover-main-color;
    box-shadow: 1px 1px 15px $hover-main-color;
  }
}
